<% include ./partials/header %>
<div container>
    <div class="container logreg">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="usename">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login!">
        </form>
    </div>
</div>

<% include ./partials/footer %>