html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F7F5E6;
    margin-bottom: 60px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 40px;
}

.jumbotron {
    background-color: #52658F;
    text-align: center;
}

.btn {
    opacity: 0.8;
}

.btn-primary {
    background-color: #333A56;
    border: 0px;
}

.btn-success {
    background-color: #15390c;
    border: 0px;
}

.card {
   background-color: #E8E8E8;
   padding: 0;
}

#showCard {
    background-color: #E8E8E8;
    margin-left: 180px;
    padding: 0px;
}

.btn-info {
    background-color:#52658F;
    border: 0px;
}

.btn-danger {
    background-color: #764035;
    border: 0px;
}

.deleteForm {
    display: inline;
}

.card {
    border: 0px;
    margin-bottom: 5%;
}

.logreg {
    text-align: center;
}

#landing{
    text-align: center;
}

@media (max-width: 1028px) {
    body {
        font-size: 2em;
    }

    h1 {
        font-size: 4rem;
    }
  }



