html {
    position: relative;
    min-height: 100%;
  }

body {
    background-color: #F7F5E6;
    margin-bottom: 60px;
}

.jumbotron {
    background-color: #52658F;
}

.btn {
    opacity: 0.8;
}

.btn-primary {
    background-color: #333A56;
    border: 0px;
}

.btn-success {
    background-color: #15390c;
    border: 0px;
}

.card {
   background-color: #E8E8E8;
   padding: 0;
}
.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: url(<%= book.image %>) center no-repeat;
    background-size: cover;
}

#showCard {
    background-color: #E8E8E8;
    margin-left: 180px;
    padding: 0px;
}

.btn-info {
    background-color:#52658F;
    border: 0px;
}

.btn-danger {
    background-color: #764035;
    border: 0px;
}

.deleteForm {
    display: inline;
}

.card {
    border: 0px;
}

#login {
    text-align: center;
}

#landing{
    text-align: center;
}

.container {
    text-align: center;
}



